{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'quest.js' %}"></script>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title> qboard name </title>
	<div align=center>
		<h1> qboard name </h1>
		<h2> qboard desc </h2>
		<h3> qboard stars </h3>
	</div>
	<hr>
</head>
<style>
html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
}

.container-fluid {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.row-first {

    padding-bottom: 5px;
}
.quest_card {
	border: 1px solid black;
	text-align: center;

}
</style>
<body>
	<p align="center">
	<button onclick="add_quest()"5>
		<span class="glyphicon glyphicon-plus"></span>
		Add quest
	</button>
	</p>
	<table class="table" id="quest-table">
	</table>

	<div class="modal fade" id="modal">
    	<div class="modal-dialog">
      		<div class="modal-content">
      		</div>
    	</div>
    </div>
{% if form.is_valid %}
	{% for quest in quest_list %}
		<div class="quest_card">
			<b>Name:</b> {{ quest.name }} <br>
			<b>Description:</b> {{ quest.description }} <br>
			<b>Required stars:</b> {{ quest.stars_given }} <br>
			<b>Dibs:</b>
			{% if quest.dropdown == "Everyone" %}
				Everyone
			{% else %}
				{{ quest.student1 }} <br>
				{{ quest.student2 }} <br>
				{{ quest.student3 }}
			{% endif %}
		</div>
	{% endfor %}
	<br>
	<div hidden id="form">
	<hr>
		<form action="" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Add">
		</form>
	</div>
	{% else %}
	<div hidden id="form">
		<form action="" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" value="Add">
		</form>
		<br>
	</div>
	{% endif %}
	<script>
		var showForm = document.getElementById("form");
		function add_quest() {
			if (showForm.style.display == "none") {
					showForm.style.display = "block";
				} else {
					showForm.style.display = "block";
				}
		}
	</script>
	<hr>
	<a href="/questboard" style="color:red"> &#8249; go back to Questboards </a> &nbsp;
</body>
</html>
 {% endblock %}