{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}


<h1 class="page-header">{{questboard.name}} Quests</h1>
  <title>Quests</title>

<div class="row" align=center>
  <div class="col-md">
    <div class="card card-body">
      <h3><strong>{{questboard.name}} Questboard</strong></h5>
      <h5>{{questboard.description}} <br>
      Each group should collect <strong>{{questboard.required_stars}} stars </strong>to fulfill the requirements for {{questboard.name}}. <br> </h5>
      <hr>
    </div>
  </div>

<br>
<strong>Total quests: </strong>
        {{total_quests}}
{% for quest in quests %}
  <div class="row">
    <div class="col-md">
      <div class="card-deck">
        <div class="card card card-blog">
          <div class="card-body">
            <table class="table table-sm">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stars Given</th>
                <th>Dibs</th>
                <th></th>
              </tr>
              <tr>
                <td>{{quest.name}}</td>
                <td>{{quest.description}}</td>
                <td>{{quest.stars_given}}</td>
                {% if quest.dropdown == 'Everyone' %}
                  <td>Everyone</td>
                {% else %}
                  <td>{{quest.student1}}<br>
                    {{quest.student2}}<br>
                    {{quest.student3}}
                  </td>
                {% endif %}
                <td style="width: 120px">
                  {% if quest.dropdown == 'Everyone' %}
                    <a class="btn btn-sm btn-warning" href="{% url 'quest_edit' quest.id %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                  {% elif quest.dropdown == 'Student/s' and quest.student1 == '' %}
                    <a class="btn btn-sm btn-warning" href="{% url 'quest_edit' quest.id %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    <a class="btn btn-sm btn-success" href="{% url 'quest_dibs' quest.id %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                  {% elif quest.dropdown == 'Student/s' and quest.student3 == '' %}
                      <a class="btn btn-sm btn-success" href="{% url 'quest_dibs' quest.id %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                  {% endif %}
                  <a class="btn btn-sm btn-danger" href="{% url 'quest_delete' quest.id %}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
      <p align="center">
        <a class="btn btn-primary" href="{% url 'quest_create' %}">
          <span class="glyphicon glyphicon-plus"></span>
          Add quest
        </a>
      </p>
<br>

      <a href="/questboard" style="color:red"> &#8249; go back to Questboards </a> &nbsp;
    </div>
  </div>
</div>

{% endblock %}