{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'quest.js' %}"></script>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title> {{ questboard.name }} Questboard </title>
	<div align=center>
		<h1> {{ questboard.name }} </h1>		<h4> *Each group should collect {{ questboard.required_stars }} star/s to fulfill the requirements for {{ questboard.name }}* <br> <br>
		{{ questboard.description }}   </h4>
	</div>
	<hr>
</head>
<body>
	<div align=center>
	<button onclick="add_quest()">
		<span class="glyphicon glyphicon-plus"></span>
		Add quest
	</button>

	{% if form.is_valid %}
	<hr>
		{% for quest in quest_list %}
			<table align=center border=1 width=800>
				<caption> Quest </caption>
				<tr>
					<td><b> Name </b></td>
					<td> {{ quest.name }} </td>
				</tr>
				<tr>
					<td><b> Description </b></td>
					<td> {{ quest.description }} </td>
				</tr>
				<tr>
					<td><b> Dibs </b></td>
					{% if quest.dropdown == "Everyone" %}
					<td> Everyone </td>
					{% else %}
					<td> {{ quest.student1 }} <br>{{ quest.student2 }} <br>
					{{ quest.student3 }} </td>
					{% endif %}
				</tr>
				<tr>
					<td><b> Corresponding Number of Stars </b></td>
					<td> {{ quest.stars_given }} </td>
				</tr>
			</table> <br>
		{% endfor %}
		<br>
		<dialog hidden id="form">
	<hr>
			<form action="" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
				<input type="submit" value="Add">
			</form>
		</dialog>
		{% else %}
		<dialog hidden id="form">
			<form action="" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
				<input type="submit" value="Add">
			</form>
		</dialog>
		{% endif %}
		</div>
	<hr>
		<a href="/questboard" style="color:red"> &#8249; go back to Questboards </a> &nbsp;

	<script>
		var showForm = document.getElementById("form");
		function add_quest() {
			if (showForm.style.display == "none") {
					showForm.style.display = "block";
				} else {
					showForm.style.display = "block";
				}
		}
	</script>
</body>
</html>
 {% endblock %}